JWT_SECRET=supersecretkey
MONGO_URI=mongodb+srv://invq-admin:<db_password>@invqcluster.qk7sdlk.mongodb.net/?appName=InvQCluster
SMTP_USER=email@example.com
SMTP_PASS=email_password
STRIPE_SECRET=your_stripe_key